rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /serials/{serial} {
      allow read: if resource.data.expiredAt > request.time;
    }
    match /packages/{packageId} {
      allow read: if true;
    }
  }
}
